<!doctype html>
{% set navigation_bar = [
	('/presence_weekday.html', 'presence_weekday', 
	 'Presence by weekday', 'Presence by weekday'
	 ),
	('/mean_time_weekday.html', 'mean_time_weekday', 
	 'Presence mean time', 'Presence mean time by weekday'
	 ),
	('/presence_start_end.html', 'presence_start_end', 
	 'Presence start-end', 'Presence start-end weekday'
	 )
] -%}
{% set active_page = active_page|default('presence_weekday') -%}
<html lang=en>
{% block head -%}
<head>
    <meta charset=utf-8>
    <title>{% block title %}Presence analyzer{% endblock %}</title>
    <meta name="keywords" content="" />
    <meta name="description" content=""/>
    <meta name="author" content="STX Next sp. z o.o."/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    
    <link href={{url_for('static', filename='css/normalize.css')}} media="all" rel="stylesheet" type="text/css" />
    <link href={{url_for('static', filename='css/base.css')}} media="all" rel="stylesheet" type="text/css" />

    <script src={{url_for('static', filename='js/jquery.min.js')}}></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src={{url_for('static', filename='js/parseinterval.js')}}></script>
    {% block own_scripts %}{% endblock %}

</head>
{% endblock %}

{% block body %}
<body>
    <div id="main">
        <div id="header">
            <h1>{{self.title()}}</h1>

            <ul>
            	{% for href, id, caption, desc in navigation_bar -%}
            		<li{% if id == active_page %} id="selected"{% endif %}><a href="{{href|e}}">{{caption}}</a></li> 
            	{% endfor -%}
            </ul>
        </div>
        <div id="content">
            <h2>{% for href, id, caption, desc in navigation_bar-%}
            {% if id == active_page-%}
            {{desc}}
            {%- endif %}
            {%- endfor %}</h2>
            <p>
                <select id="user_id" style="display: none">
                    <option value="">--</option>
                </select>
                <div id="chart_div" style="display: none">
                </div>
                <div id="loading">
                    <img src={{url_for('static', filename='img/loading.gif')}}/>
                </div>
            </p>
        </div>

    </div>
</body>
{% endblock %}
</html>
