<!doctype html>
<% navigation_bar = [
    ('/presence_weekday.html', 'presence_weekday', 'Presence by weekday'),
    ('/mean_time_weekday.html', 'mean_time_weekday', 'Presence mean time' ),
    ('/presence_start_end.html', 'presence_start_end', 'Presence start-end')
] %>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>${self.title()}</title>
    <meta name="keywords" content="" />
    <meta name="description" content=""/>
    <meta name="author" content="STX Next sp. z o.o."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="${url_for('static', filename='css/normalize.css')}" media="all" rel="stylesheet" type="text/css" />
    <link href="${url_for('static', filename='css/base.css')}" media="all" rel="stylesheet" type="text/css" />
    <script src="${url_for('static', filename='js/jquery.min.js')}"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="${url_for('static', filename='js/parseinterval.js')}"></script>
    <%block name="own_scripts"/>
</head>

<body>
    <div id="main">
        <div id="header">
            <h1><%block name="title"/></h1>
            <ul>
            % for href, id, caption in navigation_bar:
                <li ${'id="selected"' if id==self.attr.active_page else ''}><a href="${href}">${caption}</a></li> 
            % endfor
            </ul>
        </div>
        <div id="content">
            <h2><%block name="subtitle"/></h2>
            <img src='' width='100' height='100' style="display: none" name="avatar">
            <p>
                <select id="user_id" style="display: none">
                    <img src='' width='100' height='180' hspace='110'>
                    <option value="">--</option>
                </select>
                <div id="chart_div" style="display: none">
                </div>
                <div id="loading">
                    <img src="${url_for('static', filename='img/loading.gif')}"/>
                </div>
            </p>
        </div>
    </div>
</body>
</html>
