<%! active_page='mean_time_weekday'%>
<%inherit file="base.html"/>
<%block name="title">Presence analyzer</%block>
<%block name="subtitle">Presence mean time by weekday</%block>
<%block name="own_scripts">
    <script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"], 'language': 'pl'});
        (function($) {
            $(document).ready(function(){
                var loading = $('#loading');
                var users = {};
                $.getJSON("${ url_for('users_view') }", function(result) {
                    var dropdown = $("#user_id");
                    $.each(result, function(item) {
                        dropdown.append($("<option />").val(this.user_id).text(this.name));
                        users[this.user_id] = {"avatar": this.avatar, "name": this.name};
                    });
                    dropdown.show();
                    loading.hide();
                });
                $('#user_id').change(function(){
                    var selected_user = $("#user_id").val(),
                        chart_div = $('#chart_div'),
                        avatar_div = $('#avatar_div'),
                        no_data_div = $('#no_data_div');
                    if(selected_user) {
                        document.images.avatar.style.display="none";
                        loading.show();
                        chart_div.hide();
                        avatar_div.hide();
                        no_data_div.hide();
                        $("#avatar").attr("src", users[selected_user].avatar);
                        $.getJSON("${ url_for("mean_time_weekday_view", user_id="0") }"+selected_user, function(result) {
                            document.images.avatar.style.display = "inline";
                            avatar_div.show();

                            $.each(result, function(index, value) {
                                value[1] = parseInterval(value[1]);
                            });

                            if(result.length > 0){
                                var data = new google.visualization.DataTable();
                                data.addColumn('string', 'Weekday');
                                data.addColumn('datetime', 'Mean time (h:m:s)');
                                data.addRows(result);
                                var options = {
                                    hAxis: {title: 'Weekday'}
                                };
                                var formatter = new google.visualization.DateFormat({pattern: 'HH:mm:ss'});
                                formatter.format(data, 1);

                                chart_div.show();
                                var chart = new google.visualization.ColumnChart(chart_div[0]);
                                chart.draw(data, options);
                            } else {
                                no_data_div.text("No data for user: "+users[selected_user].name);
                                no_data_div.show();
                            }
                            loading.hide();
                        });
                    }
                });
            });
        })(jQuery);
    </script>
</%block>
