<%! active_page='presence_start_end'%>
<%inherit file="base.html"/>
<%block name="title">Presence analyzer</%block>
<%block name="subtitle">Presence start-end weekday</%block>
<%block name="own_scripts">
    <script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart", "timeline"], 'language': 'pl'});
        (function($) {
            $(document).ready(function(){
                var loading = $('#loading');
                var users = {};
                $.getJSON("${ url_for('users_view') }", function(result) {
                    var dropdown = $("#user_id");
                    $.each(result, function(item) {
                        dropdown.append($("<option />").val(this.user_id).text(this.name));
                        users[this.user_id] = this.avatar;
                    });
                    dropdown.show();
                    loading.hide();
                });
                $('#user_id').change(function(){
                    var selected_user = $("#user_id").val();
                    var chart_div = $('#chart_div');
                    var avatar_div = $("#avatar_div");
                    if(selected_user) {
                        document.images['avatar'].style.display="none";
                        loading.show();
                        chart_div.hide();
                        avatar_div.hide();
                        $("#avatar").attr("src", users[selected_user]);
                        $.getJSON("${ url_for("presence_start_end_view", user_id="0") }" + selected_user, function(result) {
                            document.images['avatar'].style.display="inline";
                            avatar_div.show();

                            $.each(result, function(index, value) {
                                value[1] = parseInterval(value[1]);
                                value[2] = parseInterval(value[2]);
                            });
                            var data = new google.visualization.DataTable(result);
                            data.addColumn('string', 'Weekday');
                            data.addColumn({ type: 'datetime', id: 'Start' });
                            data.addColumn({ type: 'datetime', id: 'End' });
                            data.addRows(result);
                            var options = {
                                hAxis: {title: 'Weekday'}
                            };
                            var formatter = new google.visualization.DateFormat({pattern: 'HH:mm:ss'});
                            formatter.format(data, 1);
                            formatter.format(data, 2);

                            chart_div.show();
                            loading.hide();
                            var chart = new google.visualization.Timeline(chart_div[0]);
                            document.images['avatar'].style.display="inline";
                            chart.draw(data, options);
                            avatar_div.show();
                        });
                    }
                });
            });
        })(jQuery);
    </script>
</%block>
